Unpacked_Solution/Workflows/GetPricingData-DFB1C48D-025A-F111-BEC7-0022480AFBF1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedcommondataserviceforapps_b204d"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "menudatajson": {
                  "title": "menuDataJson",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "menudatajson": "@{string(outputs('Compose'))}"
            }
          },
          "runAfter": {
            "Compose": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "List_Products": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "freeze_products"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {}
        },
        "List_Flavors": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "freeze_flavors"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "List_Products": [
              "SUCCEEDED"
            ]
          }
        },
        "List_Toppings": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "freeze_toppings"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "List_Flavors": [
              "SUCCEEDED"
            ]
          }
        },
        "List_Tax_Rates": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "freeze_taxrates"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "List_Toppings": [
              "SUCCEEDED"
            ]
          }
        },
        "Compose": {
          "type": "Compose",
          "inputs": "@json(concat('{\"products\":', string(body('List_Products')?['value']), ',\"flavors\":', string(body('List_Flavors')?['value']), ',\"toppings\":', string(body('List_Toppings')?['value']), ',\"tax_rate\":', string(first(body('List_Tax_Rates')?['value'])), '}'))",
          "runAfter": {
            "List_Tax_Rates": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "outputs": {},
      "description": "When an agent calls the flow and send back a response."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}